.footer{
  width: 100%;
  color: $color-dark-1;

  $font-roboto: 'Roboto', 'Arial', 'sans-serif';
  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 16px;
  $max_font: 24px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.footer > .row{
  height: $app-footer-height;
}

.footer__icons-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;

  a {
    margin-right: 1rem;
    color: $color-white;
    text-decoration: none;
    flex-grow: 0;
  }
  span {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    a{
      margin-right: 0;
      font-weight: bold;
    }
  }
}

