@mixin screen-sm {
  @media (min-width: #{$screen-breakpoint-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: #{$screen-breakpoint-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: #{$screen-breakpoint-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: #{$screen-breakpoint-xl}) {
    @content;
  }
}

@mixin menu-icon($order){
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: $order;
  font-size: 24px;
  color: $color-gray;
  margin-right: 0;
  margin-top: 2rem;
}