* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $font-roboto;
}

body {
  height: 100vh;
  width: 100vw;
  background: $color-white;

  @include screen-md{
    background: linear-gradient(.25turn, #7C7CC5, #E0E2F0);
  }
}

.wrapper{
  max-width: $screen-breakpoint-xl;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

#app{
  width: 100%;
  height: 100%;

  @include screen-md{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  width: 100%;
  height: 100%;

  @include screen-md{
    max-width: $screen-breakpoint-xl;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
}