.footer{
  height: 20vh;
  width: 100vw;
  background: $color-dark-3;
}

.footer__dark-sky-info{
  font-size: 20px;
  @extend %center;
  a{
    color: $color-dark-1;
  }


  @include screen-sm{
    align-items: flex-start;
    justify-content: flex-start;
  }

}

%logo{
  margin: 0.8rem 1.6rem;
  @extend %center;
  justify-content: flex-start;
}

.footer__contact-container{
  font-size: 20px;
  color: $color-dark-1;
}

.footer__contact-container__label{
  text-align: center;
  @include screen-sm{
    text-align: unset;
  }
}

.footer__contact-container__email{
  @extend %logo;
}

.footer__contact-container__email__logo{
  font-size: 24px;
  margin-right: 1.6rem;
}

.footer__contact-container__email__address{
  font-size: 16px;
}

.footer__contact-container__github{
  margin-left: 1.6rem;
  color: $color-dark-1;
  font-size: 16px;
  @extend %logo;
}

