.current__button {
  @include screen-md{
    padding: 0;
    width: 0;
  }
}

.current__master {
  @include screen-md{
    border-right: 1px solid $color-light-3;
    border-left: 1px solid $color-light-3;
    position: relative;
    padding: 0;
  }
}

.current__button__group{
  margin: 1rem 1.6rem;

  @include screen-md{
    display: none;
  }
}

.current__button__group__button{
  font-size: 1.2rem;

  &:focus {
    outline: none;
  }
}

.current__button__group__button--master{
  border-radius: 5px 0 0 5px;
  border-left: 1px solid $color-light-4;
  border-top: 1px solid $color-light-4;
  border-bottom: 1px solid $color-light-4;
  border-right: 0;
}

.current__button__group__button--detail{
  border-radius: 0 5px 5px 0;
  border: 1px solid $color-light-4;
}

.current__button__group__button--selected{
  background: $color-light-4;
  color: $color-white;
}

.current__button__group__button--unselected{
  background: $color-light-2;
  color: $color-light-4;
}

.temperature {
  margin-top: 1.6rem;
  height: 220px;
  position: relative;
}

.temperature__graph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.temperature__value {
  color: $color-black;
  font-size: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.path{
  stroke-dasharray: 300,450;
  stroke-dashoffset: 300;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}