%center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navigation__app-bar{
  padding: 0 1.6rem 0 1.6rem;
  width: 100vw;
  height: 47px;
  background: $color-dark-4;
  align-items: center;
  p {
    flex-grow: 1;
    color: white;
    font-size: 22px;
  }
}

.navigation__app-bar__title {
  @extend %center;
  color: white;
  display: none;

  @include screen-sm{
    display: unset;

  }
}

.navigation__app-bar__title--short {
  @extend %center;
  color: white;
  @include screen-sm{
    display: none;
  }
}

.navigation__app-bar__title {
  font-size: 22px;
}

.navigation__app-bar__search-field__form {
  height: 40px;
  width: 70%;
  white-space: nowrap;
  @extend %center;
  position: relative;

  @include screen-md{
    width: 80%;
  }

  input {
    width: 100%;
    border: 0;
    text-align: start;
    height: 30px;
    font-size: 18px;
    font-family: $font-roboto;
    outline: none;
  }
}

.navigation__app-bar__search-field__icon {
  width: 15%;
  height: 100%;
  background: white;
  font-size: 18px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  @extend %center;

  @include screen-md{
    width: 10%;
  }
}

.navigation__app-bar__search-field__icon__location {
  width: 10%;
  height: 100%;
  font-size: 15px;
  border-radius: 0 25px 25px 0;
  @extend %center;
}

.navigation__app-bar__search-field {
  border-radius: 25px;
  height: 30px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  position: relative;
}

.navigation__app-bar__search-field__query-list{
  position: absolute;
  top: 43px;
  list-style-type: none;
  left: -10px;
  z-index: 2;
  li {
    padding: 0.5rem 0 0.5rem 1rem;
    color: white;
    font-size: 14px;
    background: $color-dark-4;
    width: 100%;

    @include screen-sm{
      font-size: 16px;

    }

    @include screen-md{
      font-size: 18px;

    }

    @include screen-lg{
      font-size: 20px;

    }

    &:hover{
      background: $color-dark-5;
      cursor: default;
    }
  }
}

