%center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navigation__app-bar{
  padding: 0 1.6rem 0 1.6rem;
  width: 100vw;
  height: 94px;
  background: $color-dark-4;
  align-items: center;
  position: relative;

  @include screen-sm{
    height: 47px;
  }


  p {
    flex-grow: 1;
    color: white;
    font-size: 2.2rem;
  }

}

.navigation__app-bar__title {
  @extend %center;
  color: white;
  @include screen-sm{
    justify-content: flex-start;
  }

}

.navigation__app-bar__hamburger-icon{
  color: white;
  font-size: 2.2rem;
  @include screen-md{
    display: none;
  }

}

.navigation__app-bar__drawer{
  position: absolute;
  top: 96px;
  left: -240px;
  width: 240px;
  height: 100px;
  margin-left: -1.6rem;
  z-index: 2;
  
  @include screen-md{
    display: none;
  }
}

.navigation__app-bar__drawer--show{
  transition: 1s;
  transform: translate(255px, 0);
}

.navigation__app-bar__drawer--hide{
  transition: 1s;
  transform: translate(-240px, 0);
}

.navigation__app-bar__drawer__list{
  background: $color-dark-3;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.navigation__app-bar__drawer__item{
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.6rem;
  color: $color-dark-1;
  background: $color-dark-4;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navigation__app-bar__drawer__item--clicked{
  color: white;
  box-shadow: inset 0 0 15px $color-dark-4;
  background: $color-dark-3;
}

.navigation__app-bar__title {
  font-size: 2.2rem;
}

.navigation__app-bar__search-field__form {
  height: 40px;
  width: 70%;
  white-space: nowrap;
  @extend %center;
  position: relative;

  @include screen-md{
    width: 80%;
  }

  input {
    width: 100%;
    border: 0;
    text-align: start;
    height: 30px;
    font-size: 18px;
    font-family: $font-roboto;
    outline: none;
  }
}

.navigation__app-bar__search-field__icon {
  width: 15%;
  height: 100%;
  background: white;
  font-size: 18px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  @extend %center;

  @include screen-md{
    width: 10%;
  }
}

.navigation__app-bar__search-field__icon__location {
  width: 10%;
  height: 100%;
  font-size: 15px;
  border-radius: 0 25px 25px 0;
  @extend %center;
}

.navigation__app-bar__search{
  @extend %center;
}

.navigation__app-bar__search-field{
  border-radius: 25px;
  height: 30px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  position: relative;
  width: 100%;

  @include screen-sm{
    justify-content: flex-start;
  }

  @include screen-md{
    width: 80%;
  }

  @include screen-lg{
    width: 70%;
  }
}

.navigation__app-bar__search-field__query-list{
  position: absolute;
  top: 43px;
  list-style-type: none;
  left: -10px;
  z-index: 2;
  li {
    padding: 0.5rem 0 0.5rem 1rem;
    color: white;
    font-size: 14px;
    background: $color-dark-4;
    width: 100%;

    @include screen-sm{
      font-size: 16px;

    }

    @include screen-md{
      font-size: 18px;

    }

    @include screen-lg{
      font-size: 20px;

    }

    &:hover{
      background: $color-dark-5;
      cursor: default;
    }
  }
}

.navigation__app-bar__buttons-panel{
  display: none;

  @include screen-md{
    background: $color-dark-3;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 25px;
  }

  @include screen-lg{
    height: 30px;
  }
}

.navigation__app-bar__buttons-panel__button{
  padding: 0.25rem 1rem;
  font-size: 10px;
  color: $color-dark-1;
  background: $color-dark-4;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  flex-grow: 1;
  margin: 0 0.8rem;
  @extend %center;

  @include screen-lg{
    font-size: 15px;
  }
}

.navigation__app-bar__buttons-panel__button--clicked{
  color: white;
  box-shadow: inset 0 0 15px $color-dark-4;
  background: $color-dark-3;
}

