.search__button {
  @include screen-md{
    padding: 0;
    width: 0;
  }
}

.search__master {
  @include screen-md{
    border-right: 1px solid $color-light-3;
    border-left: 1px solid $color-light-3;
    position: relative;
    padding: 0;
  }
}

.search__button__group{
  margin: 1rem 1.6rem;

  @include screen-md{
    display: none;
  }
}

.search__button__group__button{
  font-size: 1.2rem;

  &:focus {
    outline: none;
  }
}

.search__button__group__button--master{
  border-radius: 5px 0 0 5px;
  border-left: 1px solid $color-light-4;
  border-top: 1px solid $color-light-4;
  border-bottom: 1px solid $color-light-4;
  border-right: 0;
}

.search__button__group__button--detail{
  border-radius: 0 5px 5px 0;
  border: 1px solid $color-light-4;
}

.search__button__group__button--selected{
  background: $color-light-4;
  color: $color-white;
}

.search__button__group__button--unselected{
  background: $color-light-2;
  color: $color-light-4;
}

